<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">

    <title>
        {% block title %}Default
        {% endblock %}
    </title>
</head>
<body>
<header class="header">

</header>
<main class="main">
    {% block content %}
    {% endblock %}
</main>
</body>

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: sans-serif;
    }

    form {
        display: flex;
        flex-flow: column;
        width: fit-content;
    }

    input {
        margin-bottom: 1em;
    }

    a {
        text-decoration: none;
        display: block;
        width: fit-content;
        padding: 0.5em;
        margin: 1em;
    }

    a.modify {
        background-color: blue;
        color: white;
    }

    a.delete {
        background-color: red;
        color: white;
    }

    a.add {
        background-color: green;
        color: white;
    }

</style>
</html>