<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="">

        <title>
            {% block title %}Default
            {% endblock %}
        </title>
    </head>
    <body>
        <header class="header">

        </header>
        <main class="main">
            {% block content %}
            {% endblock %}
            </main>
        </body>

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: sans-serif;
    }

    a {
        text-decoration: none;
        padding: 1em;
    }

    a.modify {
        background-color: green;
        color: white;
    }

    a.delete {
        background-color: red;
        color: white;
    }

</style>
    </html>