{% extends "base.html.twig" %}

{% block title %}Properties
{% endblock %}

{% block content %}

    <h1>Owners</h1>

    <ul>
        {% for owner in owners %}
            <li>{{ owner.firstname}}</li>
            <li>{{ owner.lastname }}</li>
        {% endfor %}
    </ul>

{% endblock %}