{% extends "base.html.twig" %}

{% block title %}Properties
{% endblock %}

{% block content %}

    <h1>Properties</h1>

    <ul>
        {% for property in properties %}
            <li>{{ property.price }}</li>
            <li>{{ property.description }}</li>
        {% endfor %}
    </ul>

{% endblock %}