{% extends "base.html.twig" %}

{% block title %}Properties
{% endblock %}

{% block content %}

    <h1>Properties</h1>

    <ul>
        {% for property in properties %}
        <li>{{ properties.price }}</li>
        {% endfor %}
    </ul>

{% endblock %}